.App {
  text-align: center;
  font-family:"Manrope";
  color:#fed600;
  margin:0;
  padding:0;
}
#head {
  background-color:#0a1e37;
  margin:0;
  padding-top:10pt;
  padding-bottom:5pt;
}
h1 {
  font-size:20pt;
}
#graph-container {
  display:flex;
  justify-content:center;
}
button {
  border:none;
  font-family:"Manrope";
  margin:5pt;
  margin-right:10pt;
  padding:5pt;
  background-color:#233e63;
  color:white;
  font-size:12pt;
}
button:hover {
  color:#fed600;
}
#compare {
  background-color:#1d58a5;
  color:white;
  border-radius:3pt;
}
#compare:hover {
  background-color:white;
  color:#0a1e37;
  font-weight:bold;
}
#graph {
  width:80%;
}
#sidebar {
  background-color:#233e63
}
