.App {
  text-align: center;
  font-family:"Manrope";
  color:#1d58a5;
  margin:0;
  padding:0;
}
#head{
  background-color:#0a1e37;
  margin:0;
  padding-top:10pt;
  padding-bottom:5pt;
}
button {
  border:none;
  font-family:"Manrope";
  margin:5pt;
  margin-right:10pt;
  padding:5pt;
  background-color:#1d58a5;
  color:white;
  border-radius:2pt;
}

#compare {
  padding:10pt;
}
